<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Appian v.1.0.1</title>

<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>



<body class="text-center">


	<main class="form-signin">
		<form>
			<h1 class="h3 mb-3 fw-normal">Appian Account Request Form</h1>

           <div class="form-floating">
				<input type="email" class="form-control" id="floatingInput"
					placeholder="COID"> <label for="floatingInput">COID
					</label>
			</div>

			<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput"
					placeholder="First Name"> <label for="floatingInput">First
					Name</label>
			</div>
				<div class="form-floating">
				<input type="email" class="form-control" id="floatingInput"
					placeholder="Middle Name"> <label for="floatingInput">Middle
					Name</label>
			</div>
			<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Password"> <label for="floatingPassword">Last
					Name</label>
			</div>
					<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Security Manager"> <label for="floatingPassword">Security
					Manager</label>
			</div>
					<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Security Phone"> <label for="floatingPassword">Security
					Phone</label>
			</div>
								<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Email"> <label for="floatingPassword">Email
					</label>
			</div>
								<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="COR"> <label for="floatingPassword">COR
					</label>
			</div>
									<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="COR"> <label for="floatingPassword">COR Number
					</label>
			</div>
			
										<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Justification For Account"> <label for="floatingPassword">Justification For Account
					</label>
			</div>
			
			<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Phone"> <label for="floatingPassword">Phone
					</label>
			</div>
			
				<div class="form-floating">
				<input class="form-control" id="floatingPassword"
					placeholder="Email"> <label for="floatingPassword">Email
					</label>
			</div>
			
			<br> <br>
			<button type="button" class="w-100 btn btn-lg btn-primary">Submit</button>
			<!-- Form data gets sent to Appian User Roles Database -->

			<p class="mt-5 mb-3 text-muted">&copy; 2014–2021</p>
		</form>
	</main>



</body>






</html>